body{
  background-color: #EECF9A;
  display: flex;
  align-items: center;
}

h1{
  background-color: #B17124;
  text-align: center;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 3px;
}

.tip-calc{
  background-color: white;
  margin: auto;
  width: 48%;
  margin-top: 5%;
  border-radius: 10px;
}

div{
  margin: 5px 10px 8px 10px;
}


label{
  margin: 20px 10px;
}

.input-group{
  width: auto;
}

.input-group-text{
  background-color: #B17124;
  color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #B17124 !important;
    border-color: #B17124 !important;
}

select option:hover{
  background-color: #B17124 !important;
}

.card {
  border: none !important;
  border-radius: 0.5rem !important;
}

.feedback {
  display: none;
}

.loader {
  display: none;
}

.results {
  display: none;
}

.showItem {
  display: block;
}
